.chatt {
  background: linear-gradient(
    to bottom,
    #000c0c,
    #000c0c,
    #000c0c,
    hsl(137, 81%, 16%),
    #550b57,
    #093382,
    #000c0c,
    #000c0c
  );
  width: 100%;
  height: 100vh;
}
